/* custom loading spinner */
#loading-spinner {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 0;
}

#loading-spinner.show {
  display: flex;
}

#loader {
  width: 128px;
  height: 128px;
  border: 5px solid;
  border-color: var(--ltm_secondary-color) transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* =================================== */
/* THÊM CODE MỚI VÀO BÊN DƯỚI */
/* =================================== */

/* Định dạng cho link danh mục khi được "active" */
.widget.ltn__menu-widget ul li a.category-filter.active {
    color: var(--ltm_secondary-color); /* Đổi màu chữ sang màu cam (màu phụ) */
    font-weight: 700; /* In đậm chữ */
    border-bottom: 2px solid var(--ltm_secondary-color); /* Thêm gạch chân màu cam */
    padding-bottom: 3px; /* Thêm chút khoảng cách cho gạch chân */
}

/* (Tùy chọn) Thêm hiệu ứng mượt mà khi chuyển */
.widget.ltn__menu-widget ul li a.category-filter {
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid transparent; /* Thêm 1 gạch chân trong suốt để giữ bố cục */
}
